.s-admin {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 80px;
  height: calc(100vh - 150px);
  width: 100%;

  &__preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

    &>div>.s-card-big {
      margin-bottom: 0px;
      height: calc(100vh - 200px);
    }

    &>div>h1 {
      margin-bottom: $spacing-tiny;
    }
  }

  &__container {
    width: 50%;

    &__top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: $spacing-small;
    }

    &__items {
      display: flex;
      flex-direction: column;
      height: calc(100vh - 210px);
      overflow: auto;
    }

  }
}
