.s-card-small {
  height: $card-short;
  width: $card-width;
  padding: $spacing-small-medium $spacing-medium-small;
  background-color: $color-white;
  box-shadow: $shadow-card;
  margin: $card-margin;

  &__header {
    font-size: $font-size-header;
    font-weight: $font-weight-header;
    padding-bottom: $spacing-small-tiny;
    color: $color-black;
  }
}

.s-card-big {
  height: $card-tall;
  width: $card-width;
  padding: $spacing-small-medium $spacing-medium-small;
  background-color: $color-white;
  box-shadow: $shadow-card;
}
