.s-cms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  min-height: calc(100vh - 100px);

  &__header {
    margin-bottom: $spacing-medium-small;
  }
}
