.s-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 100px);

  &__logo {
    width: 200px;
    height: 200px;
    margin-bottom: $spacing-small;
  }
}
