.ReactModal__Content {
  &--after-open {
    border: none !important;
    width: 60%;
    height: 60%;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    border-radius: 0!important;
    position: fixed!important;
    overflow: hidden!important;
    padding: 0px !important;
  }

  &__close-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 30px 20px;
    z-index: 10;
    ;
    transition: .3s ease all;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      position: relative;
      width: 16px;
      height: 2px;
      background-color: $color-black;
      transform: rotate(45deg);
      transition: .3s ease all;
      top: 2px;
    }

    &::after {
      content: '';
      display: block;
      position: relative;
      width: 16px;
      height: 2px;
      background-color: $color-black;
      transform: rotate(-45deg);
      transition: .3s ease all;
    }

    &:hover {

      &::before,
      &::after {
        background-color: $color-grey;
      }
    }
  }

  &__image-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    overflow: hidden;
  }

  &__title_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-small;

    &__title {
      margin-bottom: 0;
      margin-left: $spacing-small-tiny;
    }

    &__image {
      height: 50px;
      max-width: 50px;
    }
  }

  &__wrapper {
    width: 70%;
    right: 0;
    position: fixed;
    padding: 15px 30px;
    overflow: auto;
    height: 100%;
  }

  &__wrapper__full {
    width: 100%;
    padding: 45px 30px;
    overflow: auto;
    height: 100%;
  }

  &__title {
    margin-bottom: $spacing-small-tiny;
  }
}
