.c-activity {
  margin: $spacing-small-tiny 0px;
  text-decoration: none;
  color: $color-black;
  display: block;
  overflow: auto;

  &__top-content {
    display: flex;
    align-items: center;
    font-size: $font-size-activity-title;
    font-weight: $font-weight-activity-title;

    &__icon {
      width: 80px;
      height: 60px;
      padding-right: $spacing-small-tiny;
    }
  }

  &__bottom-content {
    display: flex;
    color: $color-grey;
    margin-top: $spacing-tiny;

    &__time {
      padding-right: $spacing-medium-small;
    }

    &__room {
      font-weight: $font-weight-activity-title;
    }
  }
}
