.c-adminItem {
  display: flex;
  flex-direction: column;
  width: 97%;
  height: auto;
  background-color: $color-white;
  padding: $spacing-small-tiny;
  margin-bottom: $spacing-small;
  box-shadow: $shadow-card;

  &__title {
    margin-bottom: $spacing-tiny;
  }

  &__text {
    height: 149px;
    overflow: hidden;
  }

  &__createdBy {
    color: $color-grey;
    font-weight: $font-weight-header;
  }

  &__top {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__center {
      align-self: flex-start;
      min-width: 30vw;
      padding-right: $spacing-small-tiny;
    }

    &__right {
      height: auto;
      width: 140px;
      align-self: flex-end;
    }
  }

  &__popup {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    margin-right: 10px;
    background-color: $color-white;
    right: -10px;
    width: 412px;

    &>button {
      margin-left: $spacing-tiny;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: $spacing-small-tiny;
  }

  &__activeBox {
    &>.checkbox-container {
      margin-bottom: 0px;

      &>.checkmark {
        left: 80px;
      }
    }
  }

  &__buttons {
    position: relative;

    &>button {
      margin-right: $spacing-small-tiny;
    }
  }

  &__image {
    &>img {
      max-width: none;
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-right: $spacing-small-tiny;
    }
  }
}
