.c-adminHome{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  padding: 30px;

  h1{
    margin-bottom: $spacing-small-tiny;
    text-align: center;
  }

  p{
    text-align: center;
  }
}