.c-meal {
  color: $color-black;
  height: calc(37vh - 125px);
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    text-decoration: none;
  }

  &__icon {
    height: 80px;
    width: 80px;
    margin-right: $spacing-small-medium;
  }
}
