.c-newsItem {
  color: $color-black;
  height: calc(37vh - 125px);
  overflow: hidden;

  &__link {
    text-decoration: none;
    cursor: pointer;
  }

  &__image {
    width: 135px;
    height: 135px;
    object-fit: cover;
    float: left;
    margin-right: $spacing-small-tiny;
  }

  &__title {
    font-size: $font-size-title;
    margin-bottom: $spacing-tiny;
  }

  &__text {
    font-size: $font-size-text;
    color: $color-grey;
  }
}
