.c-rule {
  color: $color-black;
  height: calc(37vh - 125px);
  overflow: hidden;

  &__title {
    font-size: $font-size-title;
    margin-bottom: $spacing-tiny;
  }

  &__text {
    font-size: $font-size-text;
    color: $color-grey;
  }
}
