.o-inputfield {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-small-tiny;

  &__sublabel {
    font-size: $font-size-text;
  }

  &__times {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 800px;

    & > input {
      width: 380px;
    }
  }
}
