@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0&display=swap');

//COLORS
$color-white: #ffffff;
$color-background: #f5f5f5;
$color-light-gray: #E8E8E8;
$color-grey: #707070;
$color-black: #222222;

//SHADOW
$shadow-card: 0px 5px 16px 0px rgba(0, 0, 0, 0.06);

//FONTS
$font-size-header: 34px;
$font-weight-header: bold;

$font-size-activity-title: 34px;
$font-weight-activity-title: 600;

$font-size-nav: 24px;
$font-weight-nav: normal;

$font-size-title: 17px;
$font-weight-title: bold;

$font-size-text: 15px;
$font-weight-text: normal;

//SPACING
$spacing-tiny: 10px;
$spacing-small-tiny: 20px;
$spacing-small: 30px;
$spacing-small-medium: 40px;
$spacing-medium-small: 60px;
$spacing-medium: 80px;
$spacing-medium-big: 100px;
$spacing-big: 120px;

//CARD
$card-short: calc(50vh - 85px);
$card-tall: calc(100vh - 140px);
$card-width: 660px;
$card-margin: 0 0 30px 0;

body {
  font-family: 'Poppins', sans-serif;
  background-color: $color-background;
  padding: $spacing-small;
  color: $color-black;
}

//CSS RESET

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
